//
// Colors
//
@dte-black: #000000;
@dte-white: #ffffff;

// Aqua(s)
@dte-aqua-light: #59bec9;
@dte-aqua: #007c91;
@det-aqua-dark: #006269;

// Black(s)
@dte-gray-600: #505357;

// Blue(s)
@dte-blue-lighter: #8dc8e8;
@dte-blue-light: #0072ce;
@dte-blue: #1e3575;
@dte-blue-dark: #0c2340;

// Gray(s)
@dte-gray-200: #f5f5f5;
@dte-gray-300: #d9d9d9;
@dte-gray-400: #b1b3b3;
@dte-gray-500: #73767b;
@dte-gray-600: #505357;
@dte-gray-700: #2b2b2b;

// Green(s)
@dte-green-light: #d2d755;
@dte-green: #8fad15;
@dte-green-darker: #1d661a;

// Purple(s)
@dte-purple-light: #c1a0da;
@dte-purple: #6f5091;
@dte-purple-dark: #523178;

// Red(s)
@dte-red: #e31937;

// TODO: Decide if these belong here or in the theme file
@dte-background-primary: @dte-white;
@dte-background-primary-inverse: @dte-black;
@dte-background-secondary: @dte-gray-200;
@dte-background-brand-blue: @dte-blue;
@dte-background-dark-blue: @dte-blue-dark;

@dte-content-brand-blue: @dte-blue;
@dte-content-negative: @dte-red;
@dte-content-positive: @dte-green-darker;
@dte-content-primary: @dte-gray-700;
@dte-content-primary-inverse: @dte-white;
@dte-content-secondary: @dte-gray-600;

@dte-interactive: @dte-blue-light;
@dte-interactive-hover: @dte-blue;
@dte-interactive-inverse: @dte-blue-lighter;
