//
// Colors
//
@dte-black: #000000;
@dte-blue:#021660;
@dte-blue-light: #e4e6ee;
@dte-blue-link: #2e2eff;
@dte-blue-xlight: #f2f4f8;
@dte-gray: #c7c7c7;
@dte-green: #519e19;
@dte-light: #8c8c8c;
@dte-orange: #fa6400;
@dte-soft: #575757;
@dte-teal: #27bdbe;
@dte-red: #ed3030;
@dte-white: #ffffff;
@dte-yellow: #ffb900;
