//
// Default Theme
//
@import './colors.less';

// The prefix to use on all custom css classes.
@dte-prefix: dte;

// Fonts
@dte-font-family: Arial, Helvetica, sans-serif;

// Font Sizes
@dte-font-size-helper: 14px;

// Font Weights
@dte-font-weight-regular: 500;
@dte-font-weight-semi-bold: 600;
